# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [ ]:
print (1)

1

In [ ]:
print(2.5)

2.5

In [ ]:
print ("hello world")

hello world

In [ ]:
print ('hello world')

hello world

In [ ]:
# print two or more values using single statement

print(value1, value2)

In [ ]:
# print the name of your country
print("Pakistan")

In [ ]:
# print your date of birth
print("August 9 2003")

In [ ]:
# print your name, age and height using one print statement
print("Marrium Tariq",20,"5 feet 3 inches")

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [ ]:
type(1)

int

In [ ]:
type(2.5)

float

In [ ]:
type("hello world")

str

In [ ]:
# what will be the type of '5'
str
# what is type of 9.3333333333
float

In [ ]:
#print the type of (), [], {} 
print(type(()))  # tuple 
print(type([]))  # list
print(type({}))  # dict

In [ ]:
# what is output of type(range(5))
range

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [ ]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [ ]:
# to print the name you can use print statement
print(name)

In [ ]:
# print the values of age and height
print(age,height)

In [ ]:
# print all three values using single print statement
print(name,age,height)

In [ ]:
# What will happen if you print 1 million using following statement
print(1,000,000)
# now search out the way to print 1 million and try it out
it will print 1 0 0  because it  will be a created as a tuple. 
so tuple  = 1,000,000 will   be then printed in consolee as 1 0 0 
To print 1,000,000 we use
print(1_000_000) or  we  can also use string print("1,000,000")

1 0 0

In [ ]:
# Store three integers in x,y,z and print them using single print statement.
x = 10
y = 20
z = 30
print(x,y,z)

In [ ]:
# var1 = 121.25
# print type of var1
float

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [ ]:
#what will happen
#47name = 'Pakistan'
Invalid identifier name , as it is starting with numeric value.
#name@ = 'Pakistan'
Invalid identifier name , as it is containg a special character.
#class = 'Pakistan'
Invalid as class is a keyword.
#myname = 'kamran'
valid.
#first_val = 10
valid.
#string = 'abc'
valid.

It turns out that class is one of Pythonâ€™s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [ ]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)
52 2 20 2.0 25 3
the 4th value is 2.0 as in python '/' operator will always give float output by design.

In [ ]:
# print 200+323-433
This syntax is   valid in python 2 but  not  in python version 3 because in python version 3, print is a function
whereas in Python 2, print is a statement
the output in python 2 is 90 otherwise in python 3 it will give an error. 
In python 3 we have to use print(200 + 323 - 433)

In [ ]:
# print (2+1)*(8-6)
It will work  in python 2 and give output 6 but it not run properly in the python 3 it will give error.

In [ ]:
# print no of bytes in 1KB using exponentiation operator
bytes_in_kilobyte = 2 ** 10
print(bytes_in_kilobyte)

In [ ]:
# print(2*3**3*4)
216

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [ ]:
# execute the following statements and see the output
#5    
# x = 5
# x + 1

In [ ]:
# what is output of
# y = 10
# x = y+=2
# print(x)
It will give syntax error as in python because n Python, expressions like x = y += 2 are considered assignments within assignments, and it's generally not allowed to chain assignments in this way.
The += operator modifies the value of y in place and does not return a value that can be assigned to x in the same expression

In [ ]:
# Store three integers in x,y,z and print their sum and product.
x = 10
y = 1
z = 2
print("Sum =", x+y+z , "Product= ", x*y*z)

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [ ]:
# write output of the following commands without excuting it
# print (2*(3-1))             
4
# 
8
# print (2**1+1)
3
# print (3*1**3)
3

# 10. String operations

In [56]:
first = 10
second = 20
print (first + second)

30

In [57]:
first = '10'
second = '20'
print (first + second)

1020

In [58]:
print ("hello" * 3 )

hellohellohello

In [63]:
# print your name 10 times
print("Mimi" * 10)

In [ ]:
# What is output of var="James"*2*3
JamesJamesJamesJamesJamesJames

# 11. Asking the user for input

In [64]:
name = input("please enter name: ")
print (name)

please enter name: aqs
aqs

In [88]:
# wirte a program which take age from user and concate it three time
age = input("Enter age: ")
print(age+age+age)

In [ ]:
# Write a program to accept two numbers from the user and calculate multiplication.
x = input("x = ")
y = input("y = ")
print(x*y)

In [99]:
# modify this code so that it prints 121212 instead of 36
# age=12
# print(age*3)
age='12'
print(age*3)

36

# 12. Type Casting

In [72]:
a = '10'
print (a)

10

In [90]:
# int(a)
# str(a)

In [96]:
# take an integer from user and multiply it with 15
a = input("a= ")
print(int(a)*15)

In [ ]:
# num_int = 123
# num_str = "456"
# Find the sum of these 2 variables
print(num_int + int(num_str))

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Chuck
Hello Chuck

Write a program to prompt the user for hours and rate per hour to
compute gross pay.
hours = int(input("Enter Hours: "))
rate = float(input("Enter rate: "))
print(hours*rate)

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
8.5 type : float
2. width/2.0
8.5 type : float
3. height/3
4.0 type: float
4. 1 + 2 * 5
14.1 type:float

Use the Python interpreter to check your answers.

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [ ]:
celcius = float(input("Enter celcius temperature: "))
fahrenheit_temp = (celsius * 9/5) + 32
print(fahrenheit_temp)